<div class="content-wrapper page-wrapper">
  <div class="page-content">
    <img src="assets/images/404.png" alt="Not Found" class="not-found-image" />

    <div class="content-block">
      <div class="mb-l">
        <h2>OOPS! Page Not Found</h2>
        <span class="color-gun-powder">
          This page may have been moved, renamed, or it no longer exists.
        </span>
      </div>

      <div class="suggestions">
        <h4 class="text-caps">Try to do:</h4>
        <ul>
          <li>
            <span>Follow the menu links at the top of the page</span>
          </li>
          <li>
            <span>
              Open the main page
              <a routerLink="/" class="link__underline">AstroYod</a>
            </span>
          </li>
        </ul>
      </div>

      <div class="recommendations">
        <h4 class="text-caps">You may also like:</h4>
        <ul>
          <li>
            <span>
              To read
              <a routerLink="/horoscope/daily" class="link__underline">Daily Horoscope</a>
            </span>
          </li>
          <li>
            <span>
              To read
              <a routerLink="/horoscope/love" class="link__underline">Love Horoscope</a>
            </span>
          </li>
          <li>
            <span>
              To receive your Horoscopes by email for free!
              <a routerLink="/" class="link__underline">Sign up now</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
