<div class="page-layout">
  <app-header [isMobile]="isMobile()" [isMenuOpened]="sidenav.opened" [isUserLoggedIn]="isUserLoggedIn()" (menuToggle)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav" [opened]="false">
      <app-vertical-menu [isMenuClosed]="!sidenav.opened" [isUserLoggedIn]="isUserLoggedIn()"></app-vertical-menu>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      @if (!isMobile()) {
        <app-horizontal-menu [isUserLoggedIn]="isUserLoggedIn()"></app-horizontal-menu>
      }

      <div class="scrollable-content">
        <main class="page-content">
          <router-outlet></router-outlet>
        </main>

        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
