<div class="page-layout">
  <app-header [isMobile]="breakpointService.isMobile()" [isMenuOpened]="sidenav.opened" (menuToggle)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav" [opened]="false">
      <app-vertical-menu [isMenuClosed]="!sidenav.opened"></app-vertical-menu>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      @if (!breakpointService.isMobile()) {
        <app-horizontal-menu></app-horizontal-menu>
      }

      <div class="scrollable-content">
        <main class="page-content">
          <router-outlet></router-outlet>
        </main>

        <footer>footer</footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
