@use 'styles/mixins/text.scss';
@use 'styles/color-vars.scss' as colors;

.horoscope-nav-wrapper {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
}

.horoscope-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__link {
    @include text.text(16px, 700, 20px);
    color: colors.$black;
    text-decoration: none;
  }
}

.accordion {
  width: 100%;
}

.menu-list-item {
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  color: black;
  border-radius: 4px;

  &:hover {
    background: rgba(0, 0, 0, .04);
  }
}

.mat-expansion-panel-header {
  padding: 0 16px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]),
.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  box-shadow: none;
  background: linear-gradient(to right, colors.$selago, colors.$wisp-pink);
  border-radius: 4px;
}

@media screen {
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: rgba(0, 0, 0, .04);
  }
}
